:root {
  --border-color: #3730a3;
  --button-color: #2563eb;
}

.accordion {
  margin: auto;
  margin-top: 2rem;
  border: solid 5px var(--border-color);
  padding: 1rem;
  width: 45%;
}

h2 {
  padding: 0.2rem;
}

.btn {
    background-color: var(--button-color);
    border: none;
    border-radius: 2px;
    color: #fff;
    padding: 0.4rem;
}