h1 {
  text-align: center;
  font-size: 4rem;
 color: oklch(77.7% 0.152 181.912);
  padding: 1rem;
}

h2 {
  text-align: center;
  font-size: 3rem;
  color: oklch(43.2% 0.095 166.913);
  padding: 1.2rem;
}
