body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(31, 180, 81);
  color: #fff;
  height: 100%;
  margin: auto;
  margin-top: 2rem;
  padding: 3rem;
  text-align: center;
  width: 20rem;
}

h1 {
  font-size: 2.3rem;
}

input {
  width: 14rem;
}
ul {
  list-style: none;
}

