body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(31, 180, 81);
  color: #fff;
  height: 100%;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  width: 35rem;
 
 
}

h1 {
  font-size: 2.3rem;
}
