*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-top: 2rem;
}

.btn {
  background: #6c5ce7;
  border: none;
  border-radius: 5%;
  color: #fff;
  font-size: 1rem;
  margin-top: 1rem;
  text-decoration: none;
  padding: 0.9rem;
}

.btn:hover {
  background: #0984e3;
  color: #fff;
  transition: 0.5s;
}
