/* 
Give the h1 the following font sizes:
- for screen sizes below 800 pixels: 3rem
- for screen sizes between 800 and 1000 pixels: 5rem
- for screen sizes above 1000 pixels: 7rem
*/

@media screen and (max-width: 800px) {
  body {
    background-color: lightgreen;
  }
  h1 {
    text-align: center;
    color: #fff;
    font-size: 3rem;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  body {
    background-color: blue;
  }
  h1 {
    text-align: center;
    color: #fff;
    font-size: 5rem;
  }
}

@media screen and (min-width: 1000px) {
  body {
    background-color: brown;
  }
  h1 {
    text-align: center;
    color: #fff;
    font-size: 7rem;
  }
}
