:root {
  --bg-color: oklch(89.4% 0.057 293.283);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: var(--bg-color);
  padding: 20px;
  max-width: 100%;
  height: 100vh;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

input {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 280px;
  font-size: 16px;
}

#status {
  font-size: 2.3rem;
  padding: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
