:root {
  --color-one: #14532d;
  --color-two: #115e59;
  --border-colorone: #312e81;
  --border-colortwo: #be185d;
  --white-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  min-height: 100dvh;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

.wrapper {
  display: flex;
}

.box-one {
  --color-one: #ddd;
  background: var(--color-one);
  border: var(--border-colorone) 1rem solid;
  color: var(--white-color);
  padding: 3rem;
  min-height: 100%;
  max-width: 50%;
  margin-bottom: 2rem;
}

.box-two {
  background: var(--color-two);
  border: var(--border-colortwo) 15px solid;
  color: var(--white-color);
  padding: 3rem;
  height: 100%;
  max-width: 80%;
}
