:root {
  --nav-color: #155e75;
  --white-color: #fff;
  --h1-font-size: 2rem;
  --h2-font-size: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.2;
  max-width: 100%;
  min-height: 100vh;
}

.nav {
  background-color: var(--nav-color);
  display: flex;
  justify-content: space-between;
  color: var(--white-color);
  padding: 1.1rem;
}

.logo {
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.nav ul {
  display: flex;
  gap: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #fff;
}

.bg-img {
  background: url("https://images.unsplash.com/photo-1508057198894-247b23fe5ade?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80")
    no-repeat center center/cover;
  max-width: 100%;
  height: 100vh;
}

section {
  padding: 0.4rem;
}

h1 {
  color: #fff;
}

.content {
  margin-top: 1.4rem;
}

h2 {
  font-size: var(--h2-font-size);
  text-align: center;
  padding: 0.3rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.1;
  padding: 1.5rem;
}

.grid {
  display: flex;
  flex-direction: column;
}

.square-1 {
  background: url("https://images.unsplash.com/photo-1508057198894-247b23fe5ade?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80")
    no-repeat center center/cover;
  min-height: 50vh;
  width: 100%;
}

.square-2 {
  background: url("https://images.unsplash.com/photo-1508057198894-247b23fe5ade?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80")
    no-repeat center center/cover;
  min-height: 50vh;
  width: 100%;
}
.square-3 {
  background: url("https://images.unsplash.com/photo-1508057198894-247b23fe5ade?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80")
    no-repeat center center/cover;
  min-height: 50vh;
  width: 100%;
}
.square-4 {
  background: url("https://images.unsplash.com/photo-1508057198894-247b23fe5ade?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80")
    no-repeat center center/cover;
  min-height: 50vh;
  width: 100%;
}

.footer {
  background-color: #082f49;
  color: #fff;
  font-size: var(--h2-font-size);
  text-align: center;
  padding: 4rem;
}

@media (min-width: 900px) {
  a {
    font-size: 1.1rem;
  }

  .logo {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 4rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
