.sectionStyles {
  background-color: #ff6467;
  height: 100vh;
  max-width: 100%;
  font-size: 1.5rem;
  color: #fff;
  margin: auto;
  text-align: center;
}

h1 {
  padding: 12px;
}
.image {
  border-radius: 15px;
  height: 70vh;
  width: 40%;
  object-fit: cover;
}

.buttonStyles {
  background-color: #615fff;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 8px 12px;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.buttonStyles:hover {
  background-color: #432dd7;
}
