.carousel-container {
  text-align: center;
  margin: auto;
  max-width: 30rem;
}

.carousel-section {
  background-color: #1f2937;
  font-size: 1.5rem;
  color: #fff;
  padding: 3.5rem;
  border-radius: 1rem;
}

/* Fade effect */
.fade {
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.carousel-image {
  border-radius: 10%;
  width: 22rem;
  height: 22rem;
  object-fit: cover;
  padding: 1rem;
}

.button-group {
  margin-top: 1rem;
}

.carousel-button {
  background-color: #a855f7;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.carousel-button:hover {
  background-color: #9333ea;
}

.dots {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ccc;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #a855f7;
}
