*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
}
.container {
  max-width: 70%;
  margin: auto;
  padding: 2rem;
}

.container h1 {
  font-size: 3rem;
  text-align: center;
}
