* {
  margin: 0;
  padding: 0;
}

nav ul {
  background-color: #192a56;
  display: flex;
  height: 4rem;
  justify-content: flex-end;
}

nav li {
  list-style: none;
  padding: 20px;
  justif-content: flex-end;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav li a:hover {
  color: #ddd;
}

@media (max-width:600px) {
  nav ul {
    display: flex;
    flex-direction: column;
    
  }
}