:root {
  --bg-color: #5EE9B5;
  --white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
}


.card {
    background-color:  var(--white);
    max-width: 22rem;
    padding: 1rem;
}

.img {
    object-fit: cover;
}