* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img {
  background: url("../images/jacks-bar.jpg") no-repeat center center/cover;
  height: 100vh;
}

.nav {
  color: #fff;
  display: flex;
}

ul li {
  display: flex;
  z-index: -1;
}

li {
  flex-direction: row;
}
