/* Variables for consistent theming */
:root {
  --button-color: #0f766e;
  --button-color-hover: #0d9488;
  --white-color: #ffffff;
  --delete-button-color: #dc2626;
  --delete-button-hover: #ef4444;
  --todo-list-bg-color: #1e1b4b;
}

.container {
  max-width: 40rem;
  margin: auto;
  margin-top: 3rem;
  text-align: center;
  padding: 2rem;
  background-color: var(--white-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
 
}

h1 {
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
  color: #444;
}

input[type="text"] {
  border: 1px solid #ddd;
  width: 70%;
  padding: 0.4rem;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}



/* List Styles */
ul {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-evenly; */
  list-style-type: none;
  
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  margin: 0.5rem 0;
  background-color: var(--todo-list-bg-color);
  color: var(--white-color);
  border-radius: 4px;
  font-size: 1.1rem;
}

/* Buttons */
.btn-container {
  display: flex;
  justify-content: flex-end;
}

.btn {
  background-color: var(--button-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  /* margin-left: 0.5rem; */
  cursor: pointer;
  font-size: 0.9rem;
}

.btn:hover {
  background-color: var(--button-color-hover);
}

.del-btn {
  background-color: var(--delete-button-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  /* margin-left: 0.5rem; */
  cursor: pointer;
}

.del-btn:hover {
  background-color: var(--delete-button-hover);
}

.done {
  text-decoration: line-through;
  opacity: 0.7;
}

/* Responsive Design */
@media (min-width: 600px) {
  input[type="text"] {
    width: 60%;
  }

  li {
    font-size: 1.2rem;
  }
}
