.container {
  background-color: #075985;
  border-radius: 5px;
  color: #fff;
  width: 50%;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
}

h1 {
  font-size: 2.5rem;
  padding: 1rem;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  text-transform: capitalize;
  list-style: none;
  padding: 0.4rem;
  margin-top: 1rem;
  width: 50%;
}

button {
    background-color: #f43f5e;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem;
    
}