:root {
  --bg-color: #fdcb6e;
  --container-bg-color: #ff7675;
  --hover-color: #00cec9;
  --white-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--white-color);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  max-width: 100%;
  min-height: 100vh;
  line-height: 1.4;
}

h1 {
  text-align: center;
  color: #000;
}

.container {
  background-color: var(--white-color);
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: auto;
  margin-top: 23px;
  padding: 1rem;
  width: 22rem;
  aspect-ratio: 1/ 1;
}

.searchInput {
  padding: 0.5rem;
  width: 100%;
}

.listItems li {
  display: flex;
  gap: 90px;
  justify-content: center;
  font-size: 1.2rem;
  list-style: none;
  background-color: var(--container-bg-color);
  padding: 0.8rem;
  margin-top: 6px;
}

.listItems li:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}
