.container {
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
   

}


.button {
    background-color: #2d3436;
    border-radius: 5px;
    color: #fff;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
    font-size: 17px;
}

p {
    font-size: 1.2rem;
    padding: 10px;
}