*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, #1f4037, #99f2c8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.info p {
  margin: 5px 0;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #1f4037;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #16332c;
}
