:root {
  --bg-color: darkblue;
  --white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 100%;
  min-height: 100%;
}

.navbar {
  /* display: flex;
  flex-direction: row; */
  background: var(--bg-color);
  padding: 1rem;
}

.nav {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.nav li {
  list-style: none;
}

.nav a {
  color: var(--white);
  text-decoration: none;
}

.card-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

h1 {
  font-size: 3.3rem;
}

p {
  font-size: 1.2rem;
}
