:root {
  --background-color: #0084d1;
  --button-color: #e60076;
  --hover-button-color: #F6339A;
  --white: #fff;
  --container-padding: 5rem;
  --one-rem: 1rem;
  --two-rem: 2rem;
  --three-rem: 3rem;
  --four-rem: 4rem;
}

.container {
  background-color: var(--background-color);
  color: var(--white);
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: var(--container-padding);
}

h1 {
  font-size: var(--four-rem);
}

.emoji {
  font-size: calc(var(--four-rem) + 6rem);
  padding: var(--one-rem);
}

p {
  font-size: calc(var(--one-rem) + 0.3rem);
  padding: calc(var(--one-rem) - 0.5rem);
}

.button {
  background-color: var(--button-color);
  border: none;
  border-radius: 2px;
  color: var(--white);
  font-size: var(--one-rem);
  padding: 10px;
}

.button:hover {
  background-color: var(--hover-button-color);
}
