:root {
  --bg-color: #5ee9b5;
  --btn-color: #2b7fff;
  --btn-hover-color: #50a2ff;
  --white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(circle, #1f4037, #99f2c8);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100vh;
}

.card-container {
  background-color: var(--white);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  max-width: 18rem;
  padding: 1.4rem;
  text-align: center;
}

.card-img {
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  object-fit: cover;
}

.card-info {
  padding: 0.9em;
}

.card-button {
  background-color: var(--btn-color);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: var(--white);
  font-size: 1rem;
  padding: 12px;
  margin-top: 10px;
  width: 100%;
}

.card-button:hover {
  background-color: var(--btn-hover-color);
}
