.container {
  background-color: oklch(64.5% 0.246 16.439);
  border-radius: 5px;
  align-items: center; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
  width: 42rem;
  padding: 15px;
  margin: auto;
  margin-top: 20px;
}

h1 {
  text-align: center;
  font-size: 2.6rem;
}

p {
  font-size: 1.3rem;
  padding: 10px;
}

.btn {
  background-color: oklch(44.6% 0.03 256.802);
  color: #fff;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  margin: auto;
  display: flex;
  justify-content: center;
}
